html,
body,
.head,
.back {
    height: 100%;
}

.back {
    background-color: #333;
    position: relative;
    overflow: hidden;
}

.card {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 200px;
    margin: auto;
    width: 400px;
    height: 300px;
    color: #ffffff;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 10px;
    transition: all .5s;
}

.card:hover {
    background: #ffffff;
    color: #333;
}

.card:hover>.title {
    opacity: 0;
}

.card:hover>.qrcode {
    right: -202px;
    opacity: 1;
}

.card:hover>.cqrcode {
    left: -202px;
    opacity: 1;
}

.title {
    color: #ffffff;
    opacity: 1;
    line-height: 300px;
    font-size: 60px;
    transition: all 0.5s;
}

.qrcode {
    opacity: 0;
    width: 200px;
    position: absolute;
    right: 0;
    top: 17px;
    transition: right .5s;
}

.cqrcode {
    opacity: 0;
    width: 200px;
    position: absolute;
    left: 0;
    top: 17px;
    transition: left .5s;
}

.downpull {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: 0 auto;
    color: #ffffff;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    text-align: center;
}

.content {
    color: #333;

}


/*二维码列表*/
.haha,
.card:hover+.qrs>.mycode {
    animation-name: lightSpeedIn;
    animation-timing-function: ease-out;
    animation-duration: 1.2s;
}
.hoho{
    transform: translateX(2000px)
}
@keyframes lightSpeedIn {
    from {
        transform: translateX(2000px) rotateZ(-30deg);
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    79% {
        transform:translateX(0) rotateZ(-20deg)
    }
    80% {
        transform:translateX(0) rotateZ(0)
    }

    85%{
        transform: rotateZ(-3deg)
    }
    90% {
        transform:translateX(0) rotateZ(0)
    }
    95%{
        transform: rotateZ(-1deg)
    }
    to {
        transform: translateX(0) rotateZ(0);
    }
}

.qrs {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    padding: 0 100px;
}

.mycode {
    width: 200px;
    margin: 0 20px;
    transform-origin: left bottom;
}