html,
body,
.head,
.back {
  height: 100%;
}

.nav{
  color: #ffffff;
  line-height: 30px;
  font-size: 24px;
  position: absolute;
  z-index: 100;
  right: 0;
  left: 80%;
  margin-top: 20px;
}
.back {
  background-color: #333;
  position: relative;
  overflow: hidden;
}

@keyframes flash {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
.card {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 200px;
  margin: auto;
  width: 400px;
  height: 300px;
  color: #ffffff;
  text-align: center;
  /* border: 1px solid #ffffff; */
  border-radius: 10px;
  transition: all 0.5s;

  animation: flash 2s;
  animation-iteration-count: infinite;
}

/* .card:hover {
  background: #ffffff;
  color: #333;
} */

.card:hover > .title {
  /* opacity: 0; */
}

.title {
  color: #ffffff;
  opacity: 1;
  line-height: 300px;
  font-size: 60px;
  transition: all 0.5s;
}

.downpull {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
  text-align: center;
}

.content {
  background: url('../imgs/cb.jpg');
  min-height: 750px;
}

/*二维码列表*/
.haha {
  animation-name: lightSpeedIn;
  animation-timing-function: ease-out;
  animation-duration: 1.2s;
}
.hoho {
  transform: translateX(2500px);
}
@keyframes lightSpeedIn {
  from {
    transform: translateX(2000px) rotateZ(-30deg);
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  79% {
    transform: translateX(0) rotateZ(-20deg);
  }
  80% {
    transform: translateX(0) rotateZ(0);
  }

  85% {
    transform: rotateZ(-3deg);
  }
  90% {
    transform: translateX(0) rotateZ(0);
  }
  95% {
    transform: rotateZ(-1deg);
  }
  to {
    transform: translateX(0) rotateZ(0);
  }
}

.qrs {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  padding: 0 100px;
}

.mycode {
  width: 200px;
  margin: 0 20px;
  transform-origin: left bottom;
}


.footer{
  color: #999;
  line-height: 26px;
  font-size: 12px;
}