.hide {
    display: none;
}

.show {
    display: block;
}

.center{
    text-align: center;
}
/* 字体大小 */

.fs-20{
    font-size: 20px;
}
.fs-24{
    font-size: 24px;
}
.fs-26{
    font-size: 26px;
}

.mt-20{
    margin-top: 20px;
}

.mb-50{
    margin-bottom: 50px;
}
.fc-white {
    color: #fff;
}