body,
ul,
h4 ,p{
    margin: 0;
}

body {
    font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}
a:visited{
    color: #fff;
}